.wd-black-bg {
    background-color: black;
}

.wd-dark-gray-bg {
    background-color: darkgray;
}

.wd-white-fg {
    color: white;
}

.wd-tuiter-blue {
    color: RGB(29,161,242);
}

.wd-tuiter-gray {
    color: RGB(110,118,125);
}

.wd-font-17 {
    font-size: 17px;
}

.wd-font-15 {
    font-size: 15px;
}

.wd-font-13 {
    font-size: 13px;
}

.wd-pos-relative-nudge-left {
    position: relative;
    right: 16px;
}


.wd-padding-right-12 {
    padding-right: 12px;
}

.wd-padding-16-top-and-bottom {
    padding-top: 16px;
    padding-bottom: 16px;
}

.wd-padding-left-16 {
    padding-left: 16px;
}

.wd-padding-right-16 {
    padding-right: 16px;
}

.wd-float-right {
    float: right;
}

.wd-border {
    border-width: 2px;
    border-style: solid;
    border-color: RGB(47,51,54);
}

.wd-highlighted-border {
    border-bottom-style: solid;
    border-bottom-color: RGB(29,161,242);
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-rounded-square {
    border-radius: 10px;
}

.wd-set-max-width {
    width: 506px;
}

